/RunUO.exe
/RunUO.exe.config
/RunUO.pdb
/RunUO.vshost.exe
/RunUO.userprefs
/delta-recursion.log
/throttle.log
/net_opt.log
/console.log
/Logs/
/Scripts/bin/
/Scripts/obj/
/Scripts/Output/
/Server/bin/
/Server/obj/
/Backups/
/Saves
/docs/
/web/
/Forums/
*.user
*.suo
